<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Crash Course</title>
</head>
<body>
  <h1>About</h1>
  <h2>Your path to becoming a Node.js ninja!</h2>
  <nav>
    <a href="/">Homepage</a>
    <a href="/about">About page</a>
  </nav>

  <div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis culpa repellat 
      autem rem recusandae, laudantium architecto sed a ratione alias velit, voluptatibus 
      sint laborum quaerat ad praesentium cupiditate magni. Provident nesciunt, explicabo 
      totam officiis fugiat maxime? Quidem sint ab repellendus doloribus debitis? Nesciunt 
      quia minima deserunt, modi voluptatum cupiditate excepturi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident 
      laboriosam modi dolorum soluta atque, sint, repellat nihil necessitatibus aliquam 
      non perferendis aliquid hic! Laboriosam tempora aspernatur nemo dolor quae, perferendis 
      quas laudantium est quibusdam aperiam in perspiciatis repellat labore quasi? Inventore officia 
      dolores, perferendis unde laboriosam ut dolorum repellat.
    </p>
  </div>
</body>
</html>